@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Cedarville Cursive', cursive;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
#home {
    background-color: #F9B4F6;
}
#home img{
    border-radius: 25px;
}
#about{
    background-color: #F9B4F6;
}
#news{
    background-color: #F9B4F6;
}
#profile{
    background-color: #F9B4F6;
}
#navbar{
    position: sticky;
    top: 0;
    background: #F9B4F6;
    z-index: 10;
}
.bold{
    color: #FF0080;
    font-size: 40px;
}
li{
    padding: 5px;
}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid palevioletred;
    transition: 1s;
}

span{
    color: palevioletred;
    font-weight: bold;
}
p{
    font-size: 18px;
}

#about img{
    width: 35rem;
    height: 45rem;
    border-radius: 50px;
}

#news img{
    width: 35rem;
    height: 40rem;
    border-radius: 50px;
}
.card img{
    transition: 2s;
}
.inner{
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.5);
    transition: 2s;
}
